@import url('https://fonts.googleapis.com/css2?family=Shizuru&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');

:root {
  --main-bg: hsl(217, 54%, 11%);
  --white: hsl(0, 0%, 100%);
  --card-bg: hsl(216, 50%, 16%);
  --soft-blue: hsl(215, 51%, 70%);
  --cyan: hsl(178, 100%, 50%);
}

* {
  box-sizing: border-box;
}

body {
  max-width: 1000px;
  margin: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
}

.info {
  margin: 5px 0;
}

.center {
  text-align: center;
}

header h1 {
  font-family: 'Shizuru', Arial, Helvetica, sans-serif;
  font-size: 5rem;
  text-align: center;
  margin: 0;
}

.card {
  display: flex;
  flex-direction: column;
}

.nft-cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.contract-info {
  overflow: hidden;
  text-overflow: ellipsis;
}

.overflow-elillipsis {
  text-overflow: ellipsis;
}

.nft-description,
.token-info {
  color: var(--soft-blue);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.nft-card-container {
  border-radius: 10px;
  box-shadow: -1px 1px 12px 5px rgba(0, 0, 0, 0.33);
  -webkit-box-shadow: -1px 1px 12px 5px rgba(0, 0, 0, 0.33);
  -moz-box-shadow: -1px 1px 12px 5px rgba(0, 0, 0, 0.33);
  width: 100%;
}

.lds-spinner {
  color: official;
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-spinner div {
  transform-origin: 40px 40px;
  animation: lds-spinner 1.2s linear infinite;
}
.lds-spinner div:after {
  content: ' ';
  display: block;
  position: absolute;
  top: 3px;
  left: 37px;
  width: 6px;
  height: 18px;
  border-radius: 20%;
  background: #000;
}
.lds-spinner div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -1.1s;
}
.lds-spinner div:nth-child(2) {
  transform: rotate(30deg);
  animation-delay: -1s;
}
.lds-spinner div:nth-child(3) {
  transform: rotate(60deg);
  animation-delay: -0.9s;
}
.lds-spinner div:nth-child(4) {
  transform: rotate(90deg);
  animation-delay: -0.8s;
}
.lds-spinner div:nth-child(5) {
  transform: rotate(120deg);
  animation-delay: -0.7s;
}
.lds-spinner div:nth-child(6) {
  transform: rotate(150deg);
  animation-delay: -0.6s;
}
.lds-spinner div:nth-child(7) {
  transform: rotate(180deg);
  animation-delay: -0.5s;
}
.lds-spinner div:nth-child(8) {
  transform: rotate(210deg);
  animation-delay: -0.4s;
}
.lds-spinner div:nth-child(9) {
  transform: rotate(240deg);
  animation-delay: -0.3s;
}
.lds-spinner div:nth-child(10) {
  transform: rotate(270deg);
  animation-delay: -0.2s;
}
.lds-spinner div:nth-child(11) {
  transform: rotate(300deg);
  animation-delay: -0.1s;
}
.lds-spinner div:nth-child(12) {
  transform: rotate(330deg);
  animation-delay: 0s;
}
@keyframes lds-spinner {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

main {
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
  padding: 0 20px;
  width: 100%;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.status {
  border-radius: 10px;
  background-color: #000;
  margin: auto 0 10px 0;
  padding: 5px 10px;
  text-align: center;
  color: #fff;
  font-size: 1.5rem;
}

.nft-card {
  display: flex;
  flex-direction: column;
}

.nft-link-container {
  padding: 10px;
  border-radius: 10px;
  border: 2px #000 solid;
}

.btn {
  background-color: #000;
  display: block;
  margin: 10px 0;
  text-align: center;
  width: fit-content;
  border-radius: 10px;
  padding: 5px 10px;
  width: 100%;
}

a.white {
  color: #fff;
}
a.white:link {
  color: #fff;
}
a.white:visited {
  color: #fff;
}
a.white:hover {
  color: #b1b1b1;
}
a.white:active {
  color: #b1b1b1;
}

a.no-underline {
  text-decoration: none;
}

hr.soft-blue {
  border-color: var(--soft-blue);
}

.nft-title {
  margin-top: 0;
}

.nft-card > * {
  margin-bottom: 20px;
}

body {
  max-width: 1000px;
  margin: 0 auto;
}

.nft-card {
  background-color: var(--main-bg);
  color: var(--white);
  font-family: 'Outfit', Arial, Helvetica, sans-serif;
  width: 300px;
  padding: 15px;
  border-radius: 10px;
  background-color: var(--card-bg);
}

.nft-img {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 5px !important;
}

.nft-info {
  display: flex;
  justify-content: space-between;
}

.nft-card-footer {
  margin-top: auto;
}

.price-container {
  color: hsl(178, 100%, 50%);
}

.date-container {
  display: flex;
  align-items: center;
  color: var(--soft-blue);
}

.owner-info {
  display: flex;
  align-items: center;
  color: var(--soft-blue);
}

.author-name {
  color: var(--white);
}

.avatar-img {
  width: 25px;
  margin-right: 10px;
  border-radius: 100%;
  border: #fff 1px solid;
}

.attribution {
  position: fixed;
  bottom: 0;
  font-size: 11px;
  text-align: center;
  color: var(--soft-blue);
}
.attribution a {
  color: var(--white);
}

.tooltip {
  background-color: #fff;
  color: #333;
  padding: 5px 10px;
  border-radius: 4px;
  font-size: 1.2rem;
}

.d-none {
  display: none;
}

.arrow,
.arrow::before {
  position: absolute;
  width: 8px;
  height: 8px;
  background: inherit;
}

.arrow {
  visibility: hidden;
}

.arrow::before {
  visibility: visible;
  content: '';
  transform: rotate(45deg);
}
