@import url('https://fonts.googleapis.com/css2?family=Shizuru&display=swap');

* {
  box-sizing: border-box;
}

body {
  max-width: 1000px;
  margin: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
}

.info {
  margin: 5px 0;
}

.center {
  text-align: center;
}

header h1 {
  font-family: 'Shizuru', Arial, Helvetica, sans-serif;
  font-size: 5rem;
  text-align: center;
}

.nft-card-container {
  border-radius: 10px;
  box-shadow: -1px 1px 12px 5px rgba(0, 0, 0, 0.33);
  -webkit-box-shadow: -1px 1px 12px 5px rgba(0, 0, 0, 0.33);
  -moz-box-shadow: -1px 1px 12px 5px rgba(0, 0, 0, 0.33);
  width: 100%;
}

.lds-spinner {
  color: official;
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-spinner div {
  transform-origin: 40px 40px;
  animation: lds-spinner 1.2s linear infinite;
}
.lds-spinner div:after {
  content: ' ';
  display: block;
  position: absolute;
  top: 3px;
  left: 37px;
  width: 6px;
  height: 18px;
  border-radius: 20%;
  background: #000;
}
.lds-spinner div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -1.1s;
}
.lds-spinner div:nth-child(2) {
  transform: rotate(30deg);
  animation-delay: -1s;
}
.lds-spinner div:nth-child(3) {
  transform: rotate(60deg);
  animation-delay: -0.9s;
}
.lds-spinner div:nth-child(4) {
  transform: rotate(90deg);
  animation-delay: -0.8s;
}
.lds-spinner div:nth-child(5) {
  transform: rotate(120deg);
  animation-delay: -0.7s;
}
.lds-spinner div:nth-child(6) {
  transform: rotate(150deg);
  animation-delay: -0.6s;
}
.lds-spinner div:nth-child(7) {
  transform: rotate(180deg);
  animation-delay: -0.5s;
}
.lds-spinner div:nth-child(8) {
  transform: rotate(210deg);
  animation-delay: -0.4s;
}
.lds-spinner div:nth-child(9) {
  transform: rotate(240deg);
  animation-delay: -0.3s;
}
.lds-spinner div:nth-child(10) {
  transform: rotate(270deg);
  animation-delay: -0.2s;
}
.lds-spinner div:nth-child(11) {
  transform: rotate(300deg);
  animation-delay: -0.1s;
}
.lds-spinner div:nth-child(12) {
  transform: rotate(330deg);
  animation-delay: 0s;
}
@keyframes lds-spinner {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

main {
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
  padding: 0 20px;
  width: 100%;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.status {
  border-radius: 10px;
  background-color: #000;
  margin: auto 0 10px 0;
  padding: 5px 10px;
  text-align: center;
  color: #fff;
  font-size: 1.5rem;
}

.nft-card-container {
  display: flex;
  max-width: 600px;
  padding: 100px 0;
  flex-direction: column;
  align-items: center;
}

.btn {
  background-color: #000;
  text-align: center;
  width: fit-content;
  border-radius: 10px;
  padding: 5px 10px;
}

a.btn {
  color: #fff;
}
a.btn:link {
  color: #fff;
}
a.btn:visited {
  color: #fff;
}
a.btn:hover {
  color: #b1b1b1;
}
a.btn:active {
  color: #b1b1b1;
}
